<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rodda.roddaapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_rodda_launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoddaApplication"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.RoddaApplication.NoActionBar"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.um.register.RegistrerFormActivity"
            android:theme="@style/Theme.RoddaApplication.NoActionBar"/>
        <activity android:name=".ui.um.login.LoginActivity"
            android:theme="@style/Theme.RoddaApplication.NoActionBar"/>
        <activity android:name=".ui.dataform.DataFormActivity"
            android:theme="@style/Theme.RoddaApplication.NoActionBar"/>
        <activity android:name=".ui.detail.DetailActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ui.imagedetail.ImageDetailActivity"
            android:theme="@style/Theme.RoddaApplication.NoActionBar"/>
        <activity android:name=".ui.imagemain.ImageMainActivity"
            android:theme="@style/Theme.RoddaApplication.NoActionBar"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.rodda.roddaapplication"
            android:exported="false"
            android:enabled="true"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />
    </application>

</manifest>